@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 255 255 255;
    --foreground: 243 243 243;
    --card: 255 255 255;
    --card-foreground: 243 243 243;
    --popover: 255 255 255;
    --popover-foreground: 243 243 243;
    --primary: 242 242 242;
    --primary-foreground: 9 9 11;
    --secondary: 244 244 244;
    --secondary-foreground: 22 22 22;
    --muted: 244 244 244;
    --muted-foreground: 119 119 119;
    --accent: 244 244 244;
    --accent-foreground: 22 22 22;
    --destructive: 153 0 0;
    --destructive-foreground: 243 243 243;
    --border: 236 236 236;
    --input: 236 236 236;
    --ring: 22 22 22;
    --radius: 0.5rem;
  }

  .dark {
    --background: 243 243 243;
    --foreground: 255 255 255;
    --card: 243 243 243;
    --card-foreground: 255 255 255;
    --popover: 243 243 243;
    --popover-foreground: 255 255 255;
    --primary: 255 255 255;
    --primary-foreground: 22 22 22;
    --secondary: 60 60 60;
    --secondary-foreground: 243 243 243;
    --muted: 60 60 60;
    --muted-foreground: 165 153 153;
    --accent: 60 60 60;
    --accent-foreground: 243 243 243;
    --destructive: 95 26 26;
    --destructive-foreground: 243 243 243;
    --border: 60 60 60;
    --input: 60 60 60;
    --ring: 212 212 212;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
